<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @investment.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @investment.price %>
</p>

<p>
  <strong>Country:</strong>
  <%= @investment.country %>
</p>

<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
