<p>
  <strong>Name:</strong>
  <%= @investment.name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @investment.price %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @investment.sector.capitalize %>
</p>

<p>
  <strong>Number of Shares</strong>
  <%= @investment.purchase.price / @investment.price %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= link_to @investment.purchase.name, purchase_path(@investment.purchase)%>
</p>

 <%= image_tag "#{@investment.imgsrc}", width: "200" %>
<br>
<br>
<%= link_to "Buy #{@investment.name}", "/welcome/home",
            :class=>"btn btn-primary" %>

<%= link_to(controller: 'user_investments', action: 'new') { "Buy #{@investment.name}"} %>

<%= link_to "Buy #{@investment.name}", user_investments_path(@investment.id, user_id: session[:user_id], investment_id: "#{@investment.id}"), method: :post %>
