<h1 style= "color:#85bb65">Commercial Investments</h1>

    <% @consumercyclicalinvestments.each do |consumercyclicalinvestment| %>
      <div class="card">
        <a href="/investments/<%= consumercyclicalinvestment.id %>">
          <img src="<%= consumercyclicalinvestment.imgsrc %>" alt="purchase Picture" height="115" width="175">
        </a>
        <p><a href="/investments/<%= consumercyclicalinvestment.id %>"><%= consumercyclicalinvestment.name %></a></p>
        <p><strong>Current Price:</strong> $<%= consumercyclicalinvestment.price %></p>
        <p><strong>Industry Sector:</strong> <%= consumercyclicalinvestment.sector.capitalize %></p>
      </div>
    <% end %>
