<h1 style= "color:#85bb65">Consumer Cyclical Investments</h1>

    <% @consumercyclicalinvestments.each do |consumercyclicalinvestment| %>
      <div class="card">
        <a href="/investments/<%= consumercyclicalinvestment.id %>">
          <img src="<%= consumercyclicalinvestment.imgsrc %>" alt="purchase Picture" height="115" width="175">
        </a>
        <p><a href="/investments/<%= consumercyclicalinvestment.id %>"><%= consumercyclicalinvestment.name %></a></p>
        <p>Current Price: <%= consumercyclicalinvestment.price %></p>
        <p>Industry Sector: <%= consumercyclicalinvestment.sector %></p>
      </div>
    <% end %>
