<h1 style= "color:#85bb65">Energy Investments</h1>

    <% @energyinvestments.each do |energyinvestment| %>
      <div class="card">
        <a href="/investments/<%= energyinvestment.id %>">
          <img src="<%= energyinvestment.imgsrc %>" alt="purchase Picture" height="115" width="175">
        </a>
        <p><a href="/investments/<%= energyinvestment.id %>"><%= energyinvestment.name %></a></p>
        <p>Current Price: $<%= energyinvestment.price %></p>
        <p>Industry Sector: <%= energyinvestment.sector.capitalize %></p>
      </div>
    <% end %>
