<p id="notice"><%= notice %></p>

<!-- replace the below in line color code with an iD -->
<h1 style= "color:#D4AF37">Purchases</h1>

    <% @purchases.each do |purchase| %>
      <div class="card">
        <a href="/purchases/<%= purchase.id %>">
          <img src="<%= purchase.imgsrc %>" alt="purchase Picture" height="115" width="175">
        </a>
        <p><a href="/purchases/<%= purchase.id %>"><%= purchase.name %></a></p>
        <p><%= purchase.price %></p>
        <p><%= purchase.country %></p>
      </div>
    <% end %>
