<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @purchase.name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= number_with_delimiter(@purchase.price, :delimiter => ',') %>
</p>

<p>
  <strong>Country:</strong>
  <%= @purchase.country %>
</p>

<% if @purchase.imgsrc.start_with? 'http' %>
 <%= image_tag @purchase.imgsrc, width: "200" %>
<% else %>
 <%= image_tag '/assets/not-found-image.png
', width: "200" %>
<% end %><br>
<br>

<%= link_to "Buy #{@purchase.name}", "/#{@purchase.investments.first.sector.downcase}investments",
            :class=>"btn btn-primary" %>
