  <div class="centered">
<h1>Hi, <%= @user.name %></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
  </div>

  <div class="centered">
    <br>
    <%= link_to "Make a purchase", purchases_path,
                :class=>"btn btn-primary" %>
    <br>
    <%= column_chart Investment.biggest_investment %>
  </div>

<hr>


<%= table_for Article.all, [:headline, :summary, :image_url] do |article| %>
  <%= field article.headline %>
  <%= field article.summary %>
  <%= field article.image_url %>
<% end %>
<hr>
<br>
<p>Your Portfolio is below:</p>
<p>Name: <%= UserInvestment.last.user.name %></p><br>
<p>Investment: <%= UserInvestment.last.investment.name %></p><br>
<p>Purchase: <%= UserInvestment.last.investment.purchase.name %></p>
