<div>
  <span class="user_hi">
    <h1>Hi, <%= @user.name %></h1>
  </span>
  <span class="log_out">
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input id='log' type=submit value='logout'>&nbsp;
<% end %>
  <br>
  </span>
</div>
  <div class="centered">
    <strong><p>Your Portfolio is below:</p></strong>
    <% if UserInvestment.all != [] %>
    <p><strong>User's name: </strong><%= UserInvestment.last.user.name %></p>
    <p><strong>Investment: </strong><%= UserInvestment.last.investment.name %></p>
    <p><strong>Purchase: </strong><%= UserInvestment.last.investment.purchase.name %></p>
    <p><strong>Number of shares purchased: </strong><%= UserInvestment.last.investment.purchase.price / UserInvestment.last.investment.price %> shares</p>
    <% end %>
  </div>


  <div class="centered">
    <br>
    <%= link_to "Make a purchase", purchases_path,
                :class=>"btn btn-primary" %>
    <br>
    <br>
    <% if @current_user.investments.last != nil %>
    <% if @current_user.investments.last.sector == "energy"  %>
      <%= column_chart Investment.investment_energy3 %>
    <% elsif @current_user.investments.last.sector == "healthcare" %>
    <%= column_chart Investment.investment_health_care3 %>
    <% elsif @current_user.investments.last.sector == "technology" %>
      <%= column_chart Investment.investment_technology3 %>
    <% elsif @current_user.investments.last.sector == "consumerdefensive" %>
      <%= column_chart Investment.investment_consumer_defensive3 %>
    <% elsif @current_user.investments.last.sector == "consumercyclical" %>
      <%= column_chart Investment.investment_consumer_cyclical3 %>
    <% else %>
    <%= column_chart Investment.biggest_investment %>
    <% end %>
    <% end %>
  </div>

<hr>


<%= table_for Article.all, [:headline, :summary, :image_url] do |article| %>
  <%= field article.headline %>
  <%= field article.summary %>
  <%= field image_tag article.image_url %>
<% end %>
<hr>
