  <div class="centered">
<h1>Hi, <%= @user.name %></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
  </div>

  <div class="centered">
    <br>
    <%= column_chart Investment.biggest_investment %>
  </div>

  <div class="centered">
    <table style="border: 1px solid black">
      <tr>
            <th scope="col">News Feed</th>
          </tr>
      <tr>
        <td scope="row">  <%= User.headlines %> </td>
     </tr>
     <tr>
       <td scope="row"> <%= User.summary %></td>
    </tr>
     <tr>
       <td scope="row"> <%= User.image_url %></td>
    </tr>
      </table>
  </div>
<%= link_to "Make a purchase", purchases_path%>
